*.db
*.db-shm
*.db-wal
*.bin
logs/
*.log
build/
bin/
out/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
Makefile
install_manifest.txt
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmake.stash
*.exe
*.dll
*.so
*.dylib
*.lib
*.obj
*.o
*.a
*.pdb
*.exp
*.user
*.user.*
.vscode/
.vs/
*.suo
*.user
*.sln
*.vcxproj
*.filters
.DS_Store
Thumbs.db
models/**/*.onnx
/third_party/